body{
    font-family: 'Oswald', sans-serif; 
    background-image:url(gente-fila-pagar_52683-14053.jpg);
}
.ctn{
    max-width:880px ;
    margin: auto;
}
section{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 4px;
    margin: 2rem auto 0 auto;
    border-radius: 1rem;
}
h1, h2{
    text-align: center;
}
#count-el{
    color: rgb(0, 0, 0);
    width: 15%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 2px;
    border-radius: 50%;
}

#increment-btn{
    width: 80%;
    padding: .5em ;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(112, 155, 221);
    border: none ;
    border-radius: 1rem;
    margin: 1em 0 1em 0;
    border: solid 1px;
}
#increment-btn:hover {
    cursor: pointer;

}
#increment-btn:active{
    box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.93);
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.93);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.93);
}
#save-btn{
    width: 80%;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(55, 219, 33);
    border: none ;
    border-radius: 1rem;
    margin: 1em 0 1em 0;
    border: solid 1px;
}
#save-btn:hover {
    cursor: pointer;

}
#save-btn:active{
    box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.93);
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.93);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.93);
}
#save-el{
    background-color: rgb(15, 223, 136);  
    width: 95%; 
    border-radius: 1rem;
    margin-bottom: 10px;
    border: solid 2px;
    text-align: center;
}
@media (max-width:600px){
    #save-btn, #increment-btn {
        font-size: 1rem;
    }
}